<h1>All restaurants</h1>
<div>
  <% @restaurants.each do |restaurant| %>
    <ul>
      <li><%= restaurant.neighborhood %></li>
      <li><%= restaurant.address %></li>
      <li><%= restaurant.menu %></li>
      <li><%= link_to "Eat #{restaurant.menu}", restaurant_path(restaurant) %></li>
    </ul>
  <% end %>
</div>
